<div class="footer-bottom">
    <div class="container">
        <div class="footer-bottom__left">
            &copy; 2019 <strong>IMPROCON, INC</strong>. All rights reserved.
        </div>
        <div class="footer-bottom__right">
        </div>
        <a class="go-top" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
</div>
</footer>
</div><!-- end of .boxed-container -->

<script type="text/javascript" src="assets/js/almond.js"></script>
<script type="text/javascript" src="assets/js/underscore.js"></script>
<script type="text/javascript" src="assets/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="assets/js/header_carousel.js"></script>
<script type="text/javascript" src="assets/js/sticky_navbar.js"></script>
<script type="text/javascript" src="assets/js/simplemap.js"></script>
<script type="text/javascript" src="assets/js/main.min.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/require.js"></script>