<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="top__left">We Build Relationships that Last </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="top__right">
                    <ul id="menu-top-menu" class="navigation--top">
                        <!-- <li class="menu-item-has-children"><a href="alternative-page.html">Alternative Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="shop-front.html">Home for Shop</a></li>
                                    <li><a href="contact-multiple-locations.html">Multiple Contacts</a></li>
                                    <li><a href="team-contact-combined.html">Team &#038; Contact</a></li>
                                </ul>
                            </li>
                            <li><a target="_blank" href="http://weblusive-themes.com/buildpress/documentation">Online Documentation</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>