<head>
  <meta charset="UTF-8" />
  <title>IMPROCON</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400,700%3Alatin%7CMontserrat%3A700%3Alatin" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/prettyPhoto.css" />
  <link rel="stylesheet" href="assets/css/font-awesome.css" />
  <script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/isotope.js"></script>
  <script type="text/javascript" src="assets/js/imagesloaded.js"></script>
  <script type="text/javascript" src="assets/js/modernizr.custom.24530.js"></script>
</head>