<div class="jumbotron  jumbotron--with-captions">
    <div class="carousel  slide  js-jumbotron-slider" id="headerCarousel" data-interval="5000" style="">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="assets/images/toolbelt-large.jpg" alt="The Best Construction HTML Theme">
                <div class="container">
                    <div class="carousel-content">
                        <div class="jumbotron__category">
                            <h6>WELCOME TO IMPROCON</h6>
                        </div>
                        <div class="jumbotron__title">
                            <h1>Independent Owner's Project Managers</h1>
                        </div>
                        <div class="jumbotron__content">
                            <p>Over 3500 satisfied building&nbsp;customers served in the Puget Sound Area&nbsp;since
                                2001&nbsp;</p>
                            <a class="btn  btn-primary" href="/contact-us.html" target="_blank">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="assets/images/owners-large.jpg" alt="Construction Management">
                <div class="container">
                    <div class="carousel-content">
                        <div class="jumbotron__category">
                            <h6>WE TAKE CARE OF EVERYTHING</h6>
                        </div>
                        <div class="jumbotron__title">
                            <h1>Project Management</h1>
                        </div>
                        <div class="jumbotron__content">
                            <p>We provide overall planning, coordination and control of a project, so you don’t have to
                                worry about
                                anything.</p>
                            <a class="btn  btn-primary" href="our-services" target="_self">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="assets/images/planning-large.jpg" alt="Renovating Homes and Offices">
                <div class="container">
                    <div class="carousel-content">
                        <div class="jumbotron__category">
                            <h6>OUR SERVICES</h6>
                        </div>
                        <div class="jumbotron__title">
                            <h1>Building Inspections</h1>
                        </div>
                        <div class="jumbotron__content">
                            <p>We conduct thorough investigations using sophisticated tools and software. Building
                                conditions are
                                then prioritized. We present reports and presentations that illustrate concerns and
                                bring you
                                solutions.</p>
                            <a class="btn  btn-primary" href="/services.html" target="_self">OUR SERVICES</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="item ">
					<img src="assets/images/demo/slider/slider_01.jpg" alt="Green School in London">
					<div class="container">
						<div class="carousel-content">
							<div class="jumbotron__category">
								<h6>FEATURED PROJECT</h6>
							</div>
							<div class="jumbotron__title">
								<h1>Green School in London</h1>
							</div>
							<div class="jumbotron__content">
								<p>We rebuild entire school center in upper east London in just 2 years. The school is now more efficient then
									ever before.</p>
								<a class="btn  btn-primary" href="projects" target="_self">VIEW PROJECT</a>
							</div>
						</div>
					</div>
				</div> -->
            <div class="item">
                <img src="assets/images/helmets-large.jpg" alt="Relationships That Last">
                <div class="container">
                    <div class="carousel-content">
                        <div class="jumbotron__category">
                            <h6>SATISFACTION GUARANTEED</h6>
                        </div>
                        <div class="jumbotron__title">
                            <h1>Relationships That Last</h1>
                        </div>
                        <div class="jumbotron__content">
                            <p>Our promise as a contractor is to build community value into every project while
                                delivering professional
                                expertise.</p>
                            <a class="btn  btn-primary" href="/about.html" target="_self">MORE ABOUT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#headerCarousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#headerCarousel" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>