<header class="header">
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo2.png" alt="Improcon" class="img-responsive">
            </a>
        </div>
        <div class="header-widgets  header-widgets-desktop">
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-phone  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">(425) 895-9200</h4>
                        <span class="icon-box__subtitle">info@improcon.com</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa fa-home fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">8201 164th Ave NE</h4>
                        <span class="icon-box__subtitle">Redmond, WA 98052</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-clock-o  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">Mon - Fri 8.00am - 5.00pm</h4>
                        <span class="icon-box__subtitle">Saturday &amp; Sunday CLOSED</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-social-icons">
                <a class="social-icons__link" href="https://www.facebook.com/improcon.inc" target="_blank"><i class="fa  fa-facebook"></i></a>
            </div>
        </div>
        <!-- Toggle Button for Mobile Navigation -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buildpress-navbar-collapse">
            <span class="navbar-toggle__text">MENU</span>
            <span class="navbar-toggle__icon-bar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
        </button>
    </div>
    <div class="sticky-offset js-sticky-offset"></div>
    <div class="container">
        <div class="navigation">
            <div class="collapse  navbar-collapse" id="buildpress-navbar-collapse">
                <ul id="menu-main-menu" class="navigation--main">
                    <li class="current-menu-item"><a href="index.html">HOME</a></li>
                    <li><a href="projects.html">PROJECTS</a></li>
                    <li class="menu-item-has-children">
                        <a href="services.html">OUR SERVICES</a>
                        <ul class="sub-menu">
                            {% for service in site.data.services.primary %}
                            <li><a href="services.html#{{service.title}}">{{service.title}}</a></li>
                            {% endfor %}
                            {% for service in site.data.services.secondary %}
                            <li><a href="services.html#{{service.title}}">{{service.title}}</a></li>
                            {% endfor %}
                            <li><a href="services.html">All Services</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">ABOUT US</a></li>
                    <li><a href="contact-us.html">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header-widgets  hidden-md  hidden-lg">
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-phone  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">(425) 895-9200</h4>
                        <span class="icon-box__subtitle">info@improcon.com</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa fa-home fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">8201 164th Ave NE</h4>
                        <span class="icon-box__subtitle">Redmond, WA 98052</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-clock-o  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">Mon - Fri 8.00am - 5.00pm</h4>
                        <span class="icon-box__subtitle">Saturday &amp; Sunday CLOSED</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget  widget-social-icons">
            <a class="social-icons__link" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
</header>