<div class="promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="siteorigin-panels-stretch panel-row-style" style="background-color:#eeeeee">
                    <div class="panel-grid-cell">
                        <div class="panel widget widget_pt_banner panel-first-child panel-last-child">
                            <div class="banner__text">
                                Need help managing your next construction project?
                            </div>
                            <div class="banner__buttons">
                                <a class="btn btn-primary" href="contact-us.html" target="_self">GET A QUOTE</a>&nbsp;
                                <a class="btn  btn-default" href="projects.html" target="_self">CHECK OUR PROJECTS</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>