{% for service in site.data.services.primary %}
    <div class="col-md-4">
        <div class="panel widget widget_pt_featured_page panel-first-child panel-last-child" id="panel-7-1-0-0">
            <div class="has-post-thumbnail page-box page-box--block">
                <a class="page-box__picture" href="{{ service.url }}">
                    <img width="360" height="240" src="{{ service.img }}" alt="Content Image">
                </a>
                <div class="page-box__content">
                    <h5 class="page-box__title  text-uppercase">
                        <a href="{{ service.url }}">{{ service.title }}</a>
                    </h5>
                    {{ service.content | truncate: 300 }}
                    <p>
                        <a href="services-content/design-and-build.html" class="read-more read-more--page-box">Read
                            more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}