{% for service in site.data.services.secondary %}
<div class="secondary-services panel widget widget_pt_featured_page panel-first-child" id="panel-7-1-2-0">
    <div class="has-post-thumbnail page-box page-box--inline">
        <a class="page-box__picture" href="{{ service.url }}">
            <img src="{{ service.img }}" alt="Content Image">
        </a>
        <div class="page-box__content">
            <h5 class="page-box__title text-uppercase">
                <a href="{{ service.url }}">{{ service.title }}</a>
            </h5>
            {{ service.content | truncate: 65 }}
        </div>
    </div>
    <div class="spacer"></div>
</div>
{% endfor %}