<div class="container" role="main">
    <div class="row">
        {% include services/primary-services.html %}
        <div class="col-md-4">
            {% include services/secondary-services.html %}
        </div>
    </div>
</div>