<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body class="home page boxed">
    <div class="boxed-container">
        {% include header-top.html %}
        {% include nav.html %}
    </div>

    <main class='master-container'>
        {% include jumbotron.html %}
        {% include promo.html %}
        <div class="spacer"></div>
        {% include services/services.html %}
    </main>


    {% include footer.html %}
</body>

</html>